<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Name</th>
      <th>Monthly amount</th>
      <th>Daily amount</th>
      <th>Teacher payment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.subject.name %></td>
        <td><%= group.user.firstname %></td>
        <td><%= group.name %></td>
        <td><%= group.monthly_amount %></td>
        <td><%= group.daily_amount %></td>
        <td><%= group.teacher_payment %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
